body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
input{
    border-radius: 10px;
    height: 30px;
}
button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: blueviolet;
    color: #FFF;
    border-radius: 10px;
}
